<mat-sidenav-container class="app-container">

  <mat-sidenav mode="side" opened>

    <h2 class="logo">Meet5</h2>

    <mat-nav-list>

      <a mat-list-item routerLink="/activities">
        <mat-icon>event</mat-icon>
        Activities
      </a>

      <a mat-list-item routerLink="/for-me">
        <mat-icon>person</mat-icon>
        For Me
      </a>

      <a mat-list-item routerLink="/discover">
        <mat-icon>explore</mat-icon>
        Discover
      </a>

      <a mat-list-item routerLink="/chats">
        <mat-icon>chat</mat-icon>
        Chats
      </a>

      <a mat-list-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Profile
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      Meet5 Web
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>