.activities-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

@media (max-width: 900px) {
  .activities-grid {
    grid-template-columns: 1fr; 
  }
}